{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-4 mb-5">
        <div class="col-12 col-md-6">
            <form action="." method="post"> {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" name="nome" maxlength="150" required="" id="id_nome" value="{{ object.nome }}">
                </div>
                <div class="mb-3">
                    <label for="id_idade">Idade:</label>
                    <input type="text" class="form-control" name="idade" maxlength="20" required="" id="id_idade" value="{{ object.idade }}"> 
                </div>
                <div class="mb-3">
                    <label for="id_altura" class="form-label">Altura:</label>
                    <input type="number" class="form-control" name="altura" step="0.01" required="" id="id_altura" value="{{ object.altura }}">
                </div>
                <div class="mb-3">
                    <label for="id_peso" class="form-label">Peso:</label>
                    <input type="number" class="form-control" name="peso" step="0.001" required="" id="id_peso" value="{{ object.peso }}">
                </div>
                <div class="mb-3">
                    <label for="id_cor" class="form-label">Cor:</label>
                    <input type="text" class="form-control" name="cor" maxlength="20" required="" id="id_cor" value="{{ object.cor }}"> 
                </div>
                <div class="mb-3">
                    <label for="id_descricao" class="form-label">Descrição:</label>
                    <textarea name="descricao" class="form-control" cols="40" rows="10" id="id_descricao"> {{ object.descricao }} </textarea> 
                </div>
                <div class="mb-3">
                    <label for="id_possui_os_20_dedos" class="form-check-label">Possui os 20 dedos:</label>
                    <input type="checkbox" class="form-check-input" name="possui_os_20_dedos" id="id_possui_os_20_dedos" checked="" value="{{ object.possui_os_20_dedos }}">     
                </div>
                <input type="submit" class="btn btn-primary" value="Salvar"/>
            </form>
        </div>
    </div>
</div>
<style>
    label {
        font-weight: 600;
    }
</style>
{% endblock %}
